* {
    background-color: rgb(19, 19, 19);
    color: beige;
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    width: 200px;
    border: 4px solid beige;
    border-radius: 4px;
    margin: 10px;
    gap: 10px;
    padding: 5px;
}

.column {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    gap: 5px;
}

button {
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    border: 2px solid beige;
    font-size: 30px;
    font-weight: 900;
    font-family: Courier, monospace;
    text-align: center;
    padding: 2px;
    border-radius: 4px;
}

button:active {
    transform: scale(0.98);
    box-shadow: 0 1px;
}

input {
    box-sizing: border-box;
    height: 40px;
    width: 190px;
    align-content: center;
    border: 4px solid beige;
    border-radius: 4px;
    background-color: black;
    color: yellowgreen;
    font-family: monospace, 'Courier New', Courier;
    font-size: 30px;
}

#clear {
    font-size: 25px;
}